05-cxf/accountBalance/src/main/webapp/wsdl/accountimpl_schema1.xsd

<xs:schema xmlns:tns="http://accountBalance/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://accountBalance/" version="1.0">

  <xs:element name="getAccountBalance" type="tns:getAccountBalance"/>

  <xs:element name="getAccountBalanceResponse" type="tns:getAccountBalanceResponse"/>

  <xs:complexType name="getAccountBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAccountBalanceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
