03-wsdl/MailWSDL.xml

<?xml version="1.0" encoding="utf-8" ?>
<definitions    xmlns="http://schemas.xmlsoap.org/wsdl/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                targetNamespace="http://tut01/"
                xmlns:ns="http://tut01/">
   <documentation> ... </documentation>
   <!-- types (0,1) -->
<wsdl:types>
    <xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://tut01/" 
                elementFormDefault="qualified">
        <xs:element name="sendPDFReceipt">
            <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="to" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="orderNumber" type="xs:int"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="sendPDFReceiptResponse">
            <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="messageSent" type="xs:boolean"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="sendOrderNumber">
            <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="to" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="orderNumber" type="xs:int"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="sendOrderNumberResponse">
            <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="messageSent" type="xs:boolean"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>
</wsdl:types>
   <!-- messages (0,*) -->
<wsdl:message name="sendPDFReceiptRequestMessage">
    <wsdl:part name="sendPDFReceiptRequestMessagePart" element="ns:sendPDFReceipt"/>
</wsdl:message>
<wsdl:message name="sendPDFReceiptResponseMessage">
    <wsdl:part name="sendPDFReceiptResponseMessagePart" element="ns:sendPDFReceiptResponse"/>
</wsdl:message>
<wsdl:message name="sendOrderNumberRequestMessage">
    <wsdl:part name="sendOrderNumberRequestMessagePart" element="ns:sendOrderNumber"/>
</wsdl:message>
<wsdl:message name="sendOrderNumberResponseMessage">
    <wsdl:part name="sendOrderNumberResponseMessagePart" element="ns:sendOrderNumberResponse"/>
</wsdl:message>

   <!-- port types (0,*) -->
<wsdl:portType name="MailPortType">
    <wsdl:operation name="sendPDFReceiptOperation">
        <wsdl:input message="ns:sendPDFReceiptRequestMessage"/>
        <wsdl:output message="ns:sendPDFReceiptResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="sendOrderNumberOperation">
        <wsdl:input message="ns:sendOrderNumberRequestMessage"/>
        <wsdl:output message="ns:sendOrderNumberResponseMessage"/>
    </wsdl:operation>
</wsdl:portType>
   <!-- bindings (0,*) -->
<wsdl:binding name="MailBinding" type="ns:MailPortType">
  
    <wsdlsoap:binding style="document"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="sendPDFReceiptOperation">
        <wsdlsoap:operation soapAction="http://tut01/sendPDFReceipt"/>
    
        <wsdl:input>
            <wsdlsoap:body use="literal"/>
        </wsdl:input>
    
        <wsdl:output>
            <wsdlsoap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendOrderNumberOperation">
        <wsdlsoap:operation soapAction="http://tut01/sendOrderNumber"/>
    
        <wsdl:input>
            <wsdlsoap:body use="literal"/>
        </wsdl:input>
    
        <wsdl:output>
            <wsdlsoap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
   <!-- services (0,*) -->
<wsdl:service name="MailService">
    <wsdl:port binding="ns:MailBinding" name="MailPortType">
        <wsdlsoap:address location="http://127.0.0.1:8000/Mail"/>
    </wsdl:port>
</wsdl:service>

</definitions>
