03-wsdl/ReceiptWSDL.xml

<definitions targetNamespace="http://tut01/" name="ReceiptService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tut01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
        <xs:schema version="1.0" targetNamespace="http://tut01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="makePDF" type="tns:makePDF"/>
            <xs:element name="makePDFResponse" type="tns:makePDFResponse"/>
            <xs:element name="priceDPH" type="tns:priceDPH"/>
            <xs:element name="priceDPHResponse" type="tns:priceDPHResponse"/>
            <xs:complexType name="makePDF">
               <xs:sequence>
                  <xs:element name="arg0" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makePDFResponse">
               <xs:sequence>
                  <xs:element name="return" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
            <xs:complexType name="priceDPH">
               <xs:sequence>
                  <xs:element name="arg0" type="xs:int"/>
                  <xs:element name="arg1" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
            <xs:complexType name="priceDPHResponse">
               <xs:sequence>
                  <xs:element name="return" type="xs:double"/>
               </xs:sequence>
            </xs:complexType>
            </xs:schema>
   </types>

   <message name="makePDF">
      <part name="makePDFType" element="tns:makePDF"/>
   </message>
   <message name="makePDFResponse">
      <part name="makePDFResponseType" element="tns:makePDFResponse"/>
   </message>
   <message name="priceDPH">
      <part name="priceDPHPart" element="tns:priceDPH"/>
   </message>
   <message name="priceDPHResponse">
      <part name="priceDPHResponsePart" element="tns:priceDPHResponse"/>
   </message>

   <portType name="Receipt">
      <operation name="makePDF">
         <input message="tns:makePDF"/>
         <output message="tns:makePDFResponse"/>
      </operation>
      <operation name="priceDPH">
         <input message="tns:priceDPH"/>
         <output message="tns:priceDPHResponse"/>
      </operation>
   </portType>

   <binding name="ReceiptPortBinding" type="tns:Receipt">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="makePDF">
         <soap:operation soapAction="http://tut01/Receipt/makePDF"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="priceDPH">
         <soap:operation soapAction="http://tut01/Receipt/priceDPH"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   
   <service name="ReceiptService">
      <port name="ReceiptImplPort" binding="tns:ReceiptPortBinding">
         <soap:address location="http://127.0.0.1:8000/Receipt"/>
      </port>
   </service>
</definitions>
